

nav{
    height: 80px;
    width: 100%;
}

select{
    font-size: 12px;
}


#myConsole{
    width: 100%;
    background-color: lightgrey;
}

.my-card{
    height: 100px;
    width: 200px;
    background-color: white;
    box-shadow: 2px 4px;
    border-radius: 10px;
}

.color-purple{
    color: #8f00ff;
}

.color-yellow{
    color: #ffff00;
}

.color-blu{
    color: #0000ff;
}
