

nav{
    height: 80px;
    width: 100%;
}

select{
    font-size: 12px;
}


#myConsole{
    width: 100%;
    background-color: lightgrey;
}

.my-card{
    height: 100px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 6px;
    border-radius: 10px;
}
